{% extends "base.html" %}

{% block content %}

<ul class="list-group">
	<li class="list-group-item">
		<div class="row">
			<div class="col-md-3">
				<b>Resource Name:</b>
			</div>
			<div class="col-md-3">
				{{ resource.name }}
			</div>
			<div class="col-md-3">
				<b>Owner:</b>
			</div>
			<div class="col-md-3">
				{% if resource.owner == user %}
					You own it.
					<span type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit">
        			Edit
					</button>
				{% else %}
					{{ resource.owner }}
				{% endif %}
			</div>
		</div>
		<div class="row">
			<div class="col-md-1">
				<b>Tags:</b>
			</div>
			<div class="col-md-11">
				{% for t in resource.tags %}
				<a class="label label-info" href="/resource/tag/{{ t.tag_name }}">{{t.tag_name}}</a>
				{% endfor %}
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="row">
			<div class="col-md-3">
				<b>Start Time</b>
				{{ resource.start_time.time() }}
			</div>
			<div class="col-md-3">
				<b>End Time</b>
				{{ resource.end_time.time() }}
			</div>
			<div class="col-md-3">
			</div>
			<div class="col-md-3">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reserve">
        Reserve!
		</button>
			</div>
		</div>
	</li>
</ul>
<h4>Current and Upcoming Reservations</h4>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Reserve Time</th>
			<th>Reserver</th>
			<th>Event Time</th>
		</tr>
	</thead>
	<tbody>
		{% for res in reservations %}
		<tr>
			<td>{{ res.reserve_time }}
				{% if res.start < now %}
					Now!!!
				{% endif %}
			</td>
			<td>{{ res.reserver }}</td>
			<td>{{ res.start }} - {{ res.end }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<!-- Reserve Modal -->
<div class="modal fade" id="reserve" tabindex="-1" role="dialog" aria-labelledby="reserveLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Reservation</h4>
      </div>
      <form class="form" action="/resource/reserve/{{ resource.key.id() }}" method="post" role="form">
      <div class="modal-body">
      	<div class="form-group">
    		<label for="date">Date</label>
    		<input type="date" class="form-control" id="date" name="date" required>
  		</div>
  		<div class="form-group">
    		<label for="start">Start Time</label>
    		<input class="form-control" id="start" name="start" pattern="([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]" required>
  		</div>
  		<div class="form-group">
    		<label for="end">End &nbsp;&nbsp;Time</label>
    		<input class="form-control" id="end" name="end" pattern="([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]" required>
    	</div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Reserve</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="editLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Resource</h4>
      </div>
      <form class="form" action="/resource/edit/{{ resource.key.id() }}" method="post" role="form">
      <div class="modal-body">
      	      	<div class="form-group">
    		<label for="resourceName">Resource Name</label>
    		<input class="form-control" id="resourceName" name="resourceName" value="{{ resource.name }}" required>
  		</div>
  		<div class="form-group">
    		<label for="start">Start Time</label>
    		<input class="form-control" id="start" name="start" pattern="([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]" value="{{ resource.start_time.strftime("%H:%M") }}" required>
  		</div>
  		<div class="form-group">
    		<label for="end">End &nbsp;&nbsp;Time</label>
    		<input class="form-control" id="end" name="end" pattern="([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]" value="{{ resource.end_time.strftime("%H:%M") }}" required>
    	</div>
    	<div class="form-group">
    		<label for="capacity">Capacity&nbsp;&nbsp;&nbsp;</label>
    		<input class="form-control" id="capacity" name="capacity" pattern="[0-9]+" value="{{ resource.capacity }}" required>
    	</div>
    	<div class="form-group">
    		<label for="tags">Tags (Seperate by space)</label>
    		<input class="form-control" id="tags" name="tags" value="{{ tag(resource.tags).strip().replace("\t","") }}">
    	</div>
    	<div class="form-group">
    		<label for="des">Descriptions</label>
    		<textarea class="form-control" id="des" name="des" value="{{ resource.description }}"></textarea>
    	</div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% macro tag(tags) %}
	{% for t in tags %}
		{{ t.tag_name+" " }}
	{% endfor %}
{% endmacro %}