{% extends "base.html" %}

{% block login %}
<a type="submit" class="btn btn-default" href="{{ log_url }}">Log Out</a>
{% endblock %}


{% block content %}

{% if tag %}
<h3>Resource with Tag: {{ tag.tag_name }}</h3>
{% endif %}

{% if search %}
<h3>Search Results For: {{ search }}
{% if limit %}
From {{ date.date() }} {{ start }} To {{ end }}
{% endif %}
</h3>
{% endif %}

<table class="table table-hover">
	<thead>
		<tr>
			<th>Resource Name</th>
			<th>Available Time</th>
			<th>Capacity</th>
		</tr>
	</thead>
	<tbody>
		{% for res in resources %}
		<tr>
			<td>{{ res.name }}</td>
			<td>{{ res.start_time.time() }} - {{ res.end_time.time() }}</td>
			<td>{{ res.capacity }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}